.label {
    align-items: center;
    background: #36383c;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 28px;
    margin: 0 0 4px 4px;
    padding: 0 8px;

    &--green {
        background: #0077e1;
    }

    &--red {
        background: #e34f56;
    }

    &--white {
        background: #fff;
        color: #5e6d7a;

        svg {
            fill: #5e6d7a;
        }
    }
}

.label-text-with-icon {
    margin-left: 8px;
}

.participants-count {
    cursor: pointer;
}
